.ipynb_checkpoints/
/notes.ipynb
/.idea/misc.xml
/.idea/modules.xml
/.idea/Normalized-ALS-Research.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
